header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.image-container img {
  border-radius: 50%;
  border: 5px solid #333;
  max-width: 60%;
  height: auto;
}

.projects {
  margin-top: 40px;
}

.projects ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.projects li {
  flex: 0 0 calc(33.333% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 20px;
}

.projects li:last-child {
  margin-right: 0;
}

.projects li h3 {
  margin-top: 0;
  font-size: 1.2em;
}

.projects li p {
  margin-bottom: 0;
}

.contact {
  margin-top: 40px;
}

.contact form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.contact form label {
  margin-top: 10px;
}

.contact form input,
.contact form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

.contact form input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.contact form input[type="submit"]:hover {
  background-color: #444;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
}

.profile-section {
  margin-bottom: 20px;
}

.profile-section-title {
  // font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

.profile-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-list-item {
  // font-size: 16px;
  padding: 5px 0;
  border-bottom: 1px solid #cccccc;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  & img {
    padding: 5px;
  }
}
