.I {
  display: grid;
  grid-template-rows: 50px;
  align-items: center;
  margin: 20px 0px 5px 0px;
  margin-bottom: 20px;
  @media (max-width: 570px) {
    grid-template-columns: 250px;
    justify-content: center;
  }
  &I {
    height: 50px;
    padding: 8px;
    border-radius: 5px;
    border: solid 1px #ccc;
    box-shadow: 0 0 5px #ccc;
    color: #333;
    font-size: 1.5rem;
    @media (max-width: 1910px) {
      font-size: 1.4rem;
    }

    @media (max-width: 1780px) {
      font-size: 1rem;
    }
    @media (max-width: 1500px) {
      font-size: 0.9rem;
    }
    @media (max-width: 1240px) {
      font-size: 0.8rem;
    }
  }
}
