.profile {
  main {
    display: flex;
    justify-content: center;
  }
  .round {
    border-radius: 50%;
    width: 796.23px;
    height: 796.23px;
    left: 420px;
    top: 300px;
    background: linear-gradient(93.75deg, #f7ce46 3.76%, #fbe27e 90.19%);
    margin-top: 123px;
  }
  img {
    position: absolute;
    width: 800px;
    height: 972px;
    left: 582.37px;
  }
  .interface {
    position: absolute;
    height: 32.49px;
    left: 1321.34px;
    top: 0px;
    P {
      color: #757b93;
      font-size: 50px;
      line-height: 120px;
      font-weight: 600;
    }
  }
  .text {
    position: absolute;
    width: 634.48px;
    height: 295.8px;
    left: 1250px;
    top: 450px;
    p {
      color: #1e1e1e;
      font-size: 120px;
      line-height: 120px;
      font-weight: 600;
    }
  }
}
